@font-face {
    font-family: 'sanchscript';
    src: url('sanch.ttf') format('truetype');
}

html{
    text-align: center;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}
body {
    background-color: rgb(0, 0, 0);
}
h1 {
    font-family: 'sanchscript';
    color: rgb(177, 216, 86);
    text-align: center;
}
p    {
    
    margin-left: 2%;
}
