@font-face {
    font-family: 'sanchscript';
    src: url('sanch.ttf') format('truetype');
}

html{
    text-align: justify;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}
body {
    background-color: rgb(0, 0, 0);
}
h1 {
    font-family: 'sanchscript';
    color: rgb(177, 216, 86);
    text-align: center;
}
.photo:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.photo{
    height: fit-content;
    border-color: black;
    margin: 5%;
    border-style:solid;
    border-width: 1px;
}
